body {
    margin: 0;
    font-family: Arial, sans-serif; /* Ajusta la fuente según tu preferencia */
}

main.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: solid 1px #ccc;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
}

main.login form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

main.login form input,
main.login form select {
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
}

main.login form button {
    height: 36px;
}

main.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

main.register form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

main.register form input,
main.register form select {
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
}

main.register form button {
    height: 36px;
}
